h1,
h2,
h3 {
  text-align: center;
}
.card img {
  height: 180px;
}
span {
  font-size: 0.8em;
}
.content-container {
  display: flex;
}
.summary {
  font-size: small;
  padding: 5px;
  margin-bottom: 0px;
  padding: 5px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
  height: 1.6em;
  text-align: center;
}
.price {
  text-align: center;
  font-weight: bold;
  color: #083814;
  padding-bottom: 5px;
}
.report {
  align-self: center;
  font-size: 0.8em;
  margin-top: 5px;
}
.form-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 5px;
  padding: 5px;
  align-self: flex-start;
  border-radius: 5px;
}
.form-container button {
  margin: 5px;
}
.price-container {
  display: flex;
}
.price-range {
  max-width: 90px;
}
.priceline {
  display: flex;
  align-items: center;
  width: auto;
}
.radio-container {
  display: flex;
  align-items: center;
}
.radio-container span {
  text-align: left;
}

@media all and (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }
  .form-container {
    align-self: center;
    margin: 0;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card img {
    height: 75vw;
  }
}
