* {
  box-sizing: border-box;
}
body {
  background: #ddd;
  margin: 0;
}
h1,
h2,
h3,
span,
p {
  color: rgba(8, 37, 8, 0.9);
  width: 100%;
  text-align: center;
}
h1,
h2,
h3,
label {
  font-weight: bold;
}
label {
  color: #0f942e;
}
a {
  color: #0e8b2b;
  outline: none;
  text-decoration: none;
  font-size: 0.9em;
}
a:hover {
  text-decoration: underline;
}
button {
  background: #1ae84a;
  color: white;
  font-weight: bold;
  border: none;
}
button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
input,
textarea {
  margin: 8px 5px;
  border: 1px solid rgba(50, 50, 50, 0.5);
}
input:focus,
textarea:focus {
  border: 1px solid rgba(10, 250, 10, 0.8);
}
input,
textarea,
button {
  padding: 7px 11px;
  border-radius: 5px;
}
input[type='radio'] {
  align-self: flex-start;
}
textarea {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}
.content {
  margin: 5px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  background: #7aaf86;
  align-items: center;
}
.heading-container .logo {
  height: 180px;
}
.error {
  font-size: 0.9em;
  color: rgba(255, 0, 0, 0.9);
}
.required {
  color: rgba(255, 0, 0, 0.9);
}
