body {
  display: flex;
  flex-direction: column;
}
label {
  margin-left: 5px;
}
input,
textarea,
button {
  max-width: 300px;
}
.form-container {
  background: white;
  border-radius: 2px;
  padding: 16px 6px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: start;
}
.form-container button {
  margin: 8px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.car-spec {
  display: flex;
  flex-direction: column;
}
.car-photo {
  height: 480px;
  width: 640px;
  margin: 20px 5px;
}

@media all and (max-width: 600px) {
  input,
  textarea,
  button {
    max-width: 100%;
  }
  .car-photo {
    height: 75vw;
    width: 100%;
  }
}
