.content-container {
  justify-content: center;
  background: #eee;
  padding: 10px;
}
.form-container {
  margin-top: 20px;
}
.submit-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  align-items: center;
}
.submit-container a {
  margin: 5px;
  font-size: 1em;
}
@media all and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
  .card {
    margin: 0;
  }
}
